POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_USER = your_username
POSTGRES_PASSWORD = your_pwd
POSTGRES_DB = switchsab
JWT_SECRET = yatuezytyeztyezrtzyitazeyuazyziu
JWT_EXPIRATION_TIME = 48h